<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Página inicial / Coxitter</title>
    <link href="../static/styles/estilo.css" rel="stylesheet" type="text/css"/>
  </head>
  <body style="background-color: white; margin: 0;">
    <div id="barraLateralE">
        <img src="../static/imagens/perfil/padrao.png" id="imagemPerfilPI">
        <table>
            <tr>
                <td>
                <a href="#" id="ancoraPagina"><img src="../static/imagens/pi.png" height="30" id="imagemPagina"> Pagina inicial</a>
                </td>
            </tr>
            <tr>
                <td>
                <a href="#" id="ancoraPagina"><img src="../static/imagens/p.png" height="30" id="imagemPagina">Perfil</a>
                </td>
            </tr>
            <tr>
                <td>
                <a href="#" id="ancoraPagina"><img src="../static/imagens/n.png" height="30" id="imagemPagina">Notificacoes</a>
                </td>
            </tr>
        </table>
        <div style="margin-left: 20px; margin-top: 50px;">
            <a href="#" class="coxinhar" id="coxinha01"><img src="../static/imagens/coxinhar.png" height="60" style="margin-bottom: -17px;">Coxinhar</a>
        </div>
    </div>
    <div id="barraLateralD">
       
    </div>
  </body>
</html>